@page "/"

<div class="platfrm">
<p><img src="https://i.ibb.co/y6bn9Kq/minsctkm.png" alt="platforms" border="0"></p>
</div>

<div class="mainhead">
<b>Sybilline</b> is your go-to video game catalog to find any game for any platform quickly, efficiently, and easily.
</div>



