@page "/"
@using System;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Newtonsoft.Json;
@using Sybilline.Models;


<div class="platfrm">
<img height="125%" width="125%"src="https://i.ibb.co/y6bn9Kq/minsctkm.png" alt="minsctkm" border="0">
</div>

<div class="mainhead">
<b>Sybilline</b> is your go-to video game catalog to find any game for any platform quickly and easily.
</div>



